body{
    font-family: Arial, Helvetica, sans-serif;
}
.wrap{
}

/* ★banner★ */
.banner{
    height: 645px;
    width:100%;
    box-sizing: border-box;
    padding-top: 110px;
}
.banner .cover{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    padding-top: 2%;
}
/* 大標題 */
.banner .big_title img{
    width: 450px;
    transition: 500ms ease-in-out;
    transform: scale(1.0);
}
.banner .big_title img:hover{
    transition: 500ms ease-in-out;
    transform: scale(1.1);
}

/* ★section_1★ */
.section_1 .background_img{
    padding: 0px 100px 90px 100px;
    background-size: cover;
    margin-top: -120px;

}

/* 草莓九宮圖 */
.s_img ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section_1 .strawberry_img img{
    position: absolute;
    top: 673px;
    right: 200px;
    width: 184px;
    transform: translateX(0);
    transition:0.6s;
}
.section_1 .strawberry_img img:hover{
    transition:0.6s;
    transform: translateX(-10px);
}

.section_1 .strawberry_img_2 img{
    position: absolute;
    bottom:80;
    left: 150px;
    top: 1570px;
    width: 156px;
    transition:0.6s;
    transform: translateX(0px);
}
.section_1 .strawberry_img_2 img:hover{
    transition:0.6s;
    transform: translateX(10px);
}
/*果園標題*/
.section_1 .contant .title{
    padding-top: 195px;
    padding-bottom: 60px;
}

.section_1 .contant .title h1{
    text-align: center;
    font-size: 22px;
    letter-spacing: 3px;
    line-height: 30px;
    font-weight: 900;
    color:#4b0100;
}

.section_1 .contant .out{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
.section_1 .contant .out .line{
    width: 74px;
    background-color:#4B0100;
    height:4px;
}

.section_1 .S_img{
    background-size: cover;
    margin: 25px 10px;
    width: 357px;
    height: 177px;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 隱形字 */
.section_1 .S_img .fade{
    transition: 0.5s;
    opacity: 0;
    width: 500px;
    height:100%;
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 10px;
}
.section_1 .S_img .fade h2{
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 40px;
}
.section_1 .S_img .fade p{
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 20px;
}
.section_1 .S_img .fade:hover{
    transition: 0.5s;
    opacity: 1;
}

/*Read more BTN*/
.section_1 .BTN{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.section_1 .BTN a{
    background-color:#fff;
    padding:15px 31px;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(85, 0, 0, 0.4);
    color:#4B0100;
    font-size:18px;
    letter-spacing:1.5px;
    transition: 0.5s;
}
.section_1 .BTN a:hover{
    transition: 0.5s;
    background-color:#4B0100;
    color:#fff;
}

/* ★section-2★ */

.section_2 .background_img{
    background-size: cover;
    padding:110px 0px 0px 0px;
}

/* 標題 */
.section_2 .ti{
    display:flex;
    justify-content: center;
}
.section_2 .title h3{
    font-size: 22px;
    letter-spacing:3px;
    color: #fff;
    font-weight: 900;
    padding-bottom: 10px;
    text-align: center;
}
.section_2 .title .line{
    background-color: #fff;
    width:74px;
    height: 3px;
    margin-bottom: 60px;
}

/* 每層樣式 */
.section_2 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 110px;
}


/* 食物圖片 */
.section_2 .food_img{
    width: 710px;
    height: 314px;
}
.section_2 .food_1,.food_3{
    transition:0.4s;
    border-radius: 0px 200px 200px 0px;
}
.section_2 .food_1:hover,.food_3:hover{
    transition:0.4s;
    border-radius: 0px 50px 50px 0px; 
}

.section_2 .food_2{
    transition:0.4s;
    border-radius: 200px 0px 0px 200px;
}
.section_2 .food_2:hover{
    transition:0.4s;
    border-radius: 50px 0px 0px 50px;
}

/* 文字樣式 */
.section_2 .Content_1 p ,.section_2 .Content_3 p{
    padding: 0px 165px 0px 60px;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-weight: 300;
}

.section_2 .Content_2 p {
    padding: 0px 60px 0px 165px;
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 25px;
    font-weight: 300;
}
.section_2 .content p{
    transition: 0.5s;
}
.section_2 .content p:hover{
    transition: 0.5s;
    transform: translateY(-15px);
    text-shadow: 0 0 0.5em #fff;
}

/* ★section-3★ */
.section_3 .background_img{
    padding: 100px 165px 110px 165px;
    background-image: url("/img/backgroung_img_3.png");
    background-size:cover;
}

/* 標題 */
.section_3 .ti{
    display:flex;
    justify-content: center;
}
.section_3 .title h3{
    font-size: 22px;
    letter-spacing:3px;
    color: #4B0100;
    font-weight: 900;
    padding-bottom: 10px;
    text-align: center;
}
.section_3 .title .line{
    background-color: #4B0100;
    width:74px;
    height: 3px;
    margin-bottom: 60px;
}

/* 圖片調整 */
.section_3 .content{
    display: flex;
    justify-content: center;
}

.section_3 .content .photo{
    padding: 0px 10px;
}
.section_3 .content .photo img{
    width:545px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(63, 3, 3, 0.4);
}

/*BTN*/
.section_3 .BTN{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.section_3 .BTN a{
    background-color:#fff;
    padding:15px 31px;
    text-decoration: none;
    border-radius: 100px;
    box-shadow: 0px 0px 10px rgba(85, 0, 0, 0.4);
    color:#4B0100;
    font-size:18px;
    letter-spacing:1.5px;
    transition: 0.5s;
}
.section_3 .BTN a:hover{
    transition: 0.5s;
    background-color:#4B0100;
    color:#fff;
}
